@font-face {
    font-family: NormalFont;
    src: url("/src/base/assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: NormalFont;
    src: url("/src/base/assets/fonts/Inter-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: NormalFont;
    src: url("/src/base/assets/fonts/Inter-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: FancyFont;
    src: url("/src/base/assets/fonts/Nunito-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: FancyFont;
    src: url("/src/base/assets/fonts/Nunito-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: FancyFont;
    src: url("/src/base/assets/fonts/Nunito-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: MonoFont;
    src: url("/src/base/assets/fonts/RobotoMono-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: MonoFont;
    src: url("/src/base/assets/fonts/RobotoMono-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: MonoFont;
    src: url("/src/base/assets/fonts/RobotoMono-Bold.ttf");
    font-weight: 600;
}