@import "../base/styles/base.scss";

@import "./variables.scss";

@import "./elements/panels.scss";
@import "./elements/layers.scss";
@import "./elements/colors.scss";
@import "./elements/canvas.scss";
@import "./elements/brushes.scss";

@import "./utils.scss";

.editor {
	display: flex;

	.canvas-zoomable-wrapper {
		width: 100%;
		height: 100%;
	}
}
