.palette-color {
    background: var(--color, #000);
    border-radius: var(--base-border-radius);
    outline: 0 solid #fff;
	overflow: hidden;

    cursor: pointer;

	// Children
	.fold {
		width: 16px;
		height: 16px;
		position: absolute;
		bottom: 0;
		visibility: hidden;
		pointer-events: none;

		&.front-fold {
			left: 0;
		}
		&.back-fold {
			right: 0;
			transform: scaleX(-1);
		}
	}

    // States
	&.front .front-fold {
		visibility: visible;
	}
	&.back .back-fold {
		visibility: visible;
	}
    &:hover {
        z-index: 1;
        outline: 3px solid #fff;
        border-radius: var(--base-border-radius) !important;
    }
}
