.color-picker {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: var(--unit-2);

    .picker-field {
        width: 100%;
        flex: 1;
        border-radius: var(--base-border-radius);

        .cursor {
            width: 14px;
            height: 14px;

            position: absolute;
            translate: -50% -50%;

            border: 4px solid #fff;
            background: var(--data-color);
            border-radius: 50%;
            box-shadow: 0 0 4px #000;
        }

        .hue-gradient, .saturation-gradient, .value-gradient {
            width: 100%;
            height: 100%;

            position: absolute;
            left: 0;
            top: 0;

            border-radius: inherit;
        }
        .hue-gradient {
            background: hsl(var(--data-hue), 100%, 50%);
        }
        .saturation-gradient {
            background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
        }
        .value-gradient {
            background: linear-gradient(to top, #000, transparent);
        }
    }
    .picker-inputs {
        display: flex;
        flex-direction: column;
        gap: var(--unit-1);

		.row {
			align-items: center;
			gap: var(--unit-1);
		}
    }
}
